@page "/"

<PageTitle>Index</PageTitle>

<div style="text-align: center; margin-top: 20px;">
    <h1>Bienvenido a</h1>
    <h2>Pizzería "Goliat"</h2>

    <img src="https://www.pizzarama-nul.co.uk/wp-content/uploads/2018/08/Goliath.jpg" alt="Imagen de pizza" style="max-width: 50%; margin-top: 20px;" />
</div>
